.navbar {
  background-color: #111111;
  color: #fff;
  padding: 10px 20px;
}

.navbar .top-row {
  display: flex;
  justify-content: center;
  font-family: 'Futura', sans-serif; 
  align-items: center; 
  margin-bottom: 10px;
}

/* KENNETH NGUYEN title*/
.navbar .top-row .logo {
  margin-right: 5px;
  margin-top: 10px;
  color: #ffffff; 
  text-decoration: none; 
  cursor: pointer; 
  font-size: 30px;
}

/*CINEMATOGRAPHER subtitle*/
.navbar .top-row .subtitle {
  margin-left: 5px;
  margin-top: 10px;
  color: #ffffff; 
  text-decoration: none; 
  cursor: pointer; 
  font-size: 15px;
}

.navbar .bottom-row {
  display: flex;
  justify-content: center;
}

.navbar .bottom-row a {
  margin: 0 40px;
  margin-bottom: 10px;
  color: #9c2a2a;
  text-decoration: none;
  font-family: 'Futura', sans-serif; 
}

@media screen and (max-width: 767px) {
  .navbar .bottom-row {
    flex-direction: column; 
    align-items: center; 
  }

  .navbar .bottom-row a {
    margin: 10px 0; 
  }
}
